# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Flutter
.metadata
.packages
/build/
/ios/Flutter/App.framework
/ios/Flutter/engine.version
flutter/

# Android
/android/local.properties
/android/.gradle/
/android/captures/
/android/app/src/main/assets/flutter_assets/
/android/key.properties
/android/build/

# iOS
/ios/Pods/
/ios/Flutter/Debug.xcconfig
/ios/Flutter/Release.xcconfig
/ios/.symlinks/
/ios/Runner/GeneratedPluginRegistrant.h
/ios/Runner/GeneratedPluginRegistrant.m
/ios/Runner/GoogleService-Info.plist
/ios/Runner/Info.plist.bak

# Web
/web/build/

# Dart
.dart_tool/
.pub-cache/
.pub/

# Environment
.env
